@model Lykke.Service.LykkeDevelopers.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change password";
}

<div class="changePasswordView">
    <h2>Change password</h2>
    @if (true.Equals(ViewData["incorrectPassword"]))
    {
        <h3 class="info">Old password incorrect</h3>
    }
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <label asp-for="OldPassword">Old Password</label>
            <input asp-for="OldPassword" type="password" class="form-control" value="" />
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" value="" />
        </div>

        <div class="form-group">
            <label for="RepPassword">Repeat Password</label>
            <input id="RepPassword" type="password" class="form-control" value="" />
        </div>
        <input type="submit" id="changePasswordButton" class="btn btn-primary" value="Change Password" />
    }
</div>



@section Scripts
{
    <script type="text/javascript">
        $(function () {

            $('#changePasswordButton').click(function () {
                var valid = true;
                if ($('#OldPassword').val().trim() == '') {
                    $('#OldPassword').addClass('error');
                    valid = false;
                } else {
                    $('#OldPassword').removeClass('error');
                }

                if ($('#Password').val().trim() == '') {
                    $('#Password').addClass('error');
                    valid = false;
                } else {
                    $('#Password').removeClass('error');
                }

                if ($('#RepPassword').val().trim() == '') {
                    $('#RepPassword').addClass('error');
                    valid = false;
                } else {
                    $('#RepPassword').removeClass('error');
                }

                if (valid && $('#Password').val().trim() != $('#RepPassword').val().trim()) {
                    $('#Password').addClass('error');
                    $('#RepPassword').addClass('error');
                    valid = false;
                } 
                return valid;
            });

        });
    </script>
}