@using Lykke.Service.LykkeDevelopers.Models
@model SignInModel

@section Header
{

}

<div class="signInView">
    <h2>Sign in</h2>
    @if (true.Equals(ViewData["usersEmpty"]))
    {
        <h3 class="info">You don't have users to manage the settings</h3>
    }
    @using (Html.BeginForm())
    {
        <input type="hidden" id="returnUrl" value="@ViewData["returnUrl"]">
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" type="text" class="form-control" value="" />
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" value="" />
        </div>
        <input type="submit" id="signInButton" class="btn btn-primary" value="Sign In" />
        
    }
</div>


@section Scripts
{
    <script type="text/javascript">
        $(function() {
            $.validateEmail = function(email) {
                var re =
                    /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }

            $('#signInButton').click(function() {
                var valid = true;
                if ($('#Email').val().trim() == '' || !$.validateEmail($('#Email').val())) {
                    $('#Email').addClass('error');
                    valid = false;
                } else {
                    $('#Email').removeClass('error');
                }

                if ($('#Password').val().trim() == '') {
                    $('#Password').addClass('error');
                    valid = false;
                } else {
                    $('#Password').removeClass('error');
                }
                return valid;
            });

        });        
    </script>
}
