@using Lykke.Service.LykkeDevelopers.Models
@using Newtonsoft.Json
@model DevelopersModel

@{
    ViewBag.Title = "Lykke Developers";
}

<h2>Developers</h2>

<button type="button" class="col-md-1 btn btn-primary" data-toggle="modal" data-target="#addModal">Add</button>
<br /><br />
      <div id="addModal" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Add new Developer</h4>
                  </div>
                  <div class="modal-body">
                      <div class="form-group col-md-6">
                          <label for="FirstName">First Name: </label>
                          <input type="text" id="gitUrl" eTag="" class="form-control" placeholder="First Name" value="" maxlength="30" />
                      </div>

                      <div class="form-group col-md-6">
                          <label for="LastName">Last Name: </label>
                          <input type="text" id="branch" eTag="" class="form-control" placeholder="Last Name" value="" maxlength="30" />
                      </div>

                      <div class="form-group col-md-6">
                          <label for="email">Email: </label>
                          <input type="text" id="tag" eTag="" class="form-control" placeholder="new-dev@lykke.com" value="" maxlength="30" />
                      </div>
                      <div class="form-group col-md-6">
                          <label for="TelegramAcc">Telegram account: </label>
                          <input type="text" id="tag" eTag="" class="form-control" placeholder="Telegram account" value="" maxlength="30" />
                      </div>
                      <div class="form-group col-md-6">
                          <label for="GithubAcc">Github account: </label>
                          <input type="text" id="tag" eTag="" class="form-control" placeholder="Github account" value="" maxlength="30" />
                      </div>
                      <div class="form-group col-md-6">
                          <label for="Team">Team: </label>
                          <input type="text" id="tag" eTag="" class="form-control" placeholder="Team" value="" maxlength="30" />
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary" id="add">Save</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
      </div>
<div class="editItems">

</div>

@section Scripts {
    <script type="text/javascript">
    $(function () {

        function myAlertTop(text) {
            txt = document.createTextNode(text);
            var span = $(".myAlert-top").children('span');
            span.html('');
            span.append(txt);

            $(".myAlert-top").show();

            setTimeout(function () {
                //$(".custom-alert").alert('close'); <--- Do not use this

                $(".myAlert-top").slideUp(500, function () {
                    $(this).hide();
                });
            }, 5000);
        }

        $('[data-toggle="tooltip"]').tooltip();

        function elemCancel(elem) {
            $(elem).parent().parent().remove();
        }

        function makeKeyValuesInputAutocomplete() {
            $('#editRole').find('input.keyValueInput').autocomplete({
                source: $.keyValueNames
            });
        }

        function addKeyValue(elem) {
            var html = '<tr class="keyValues">' +
                '<td class="keyValueRowKey"><input type="text" class="viewMode form-control keyValueInput"/></td>' +
                '<td class="access"><select class="form-control"><option value="false" selected>Read</option><option value="true">Write</option></select></td>' +
                '<td><a href="javascript:;" class="elemCancel col-md-1" onclick="elemCancel(this)" style="width:20px; height:20px;"></a></td></tr>';

            $(elem).parent().before(html);
            makeKeyValuesInputAutocomplete();
        }

        $.generateTable = function (json) {
            var list = eval('( ' + json + ')');
            var html =
                '<table class="table table-stripped table-bordered"><tr><th>Email</th><th>First Name</th><th>Last Name</th><th>Telegram account</th><th>GitHub account</th><th>Team</th><th>Actions</th></tr>';
            for (var i = 0; i < list.length; i++) {
                var elem = list[i];
                html += '<tr elemId="' + elem.RowKey + '"> ' +
                    '<td class="col-md-2"><span class="viewMode" class = "name-cert" >' + elem.Email + '</span><input type="text" class="editMode form-control"/></td>' +
                    '<td class="col-md-2"><span class="viewMode" class = "name-cert" >' + elem.FirstName + '</span><input type="text" class="editMode form-control"/></td>' +
                    '<td class="col-md-2"><span class="viewMode" class = "name-cert" >' + elem.LastName + '</span><input type="text" class="editMode form-control"/></td>' +
                    '<td class="col-md-2"><span class="viewMode" class = "name-cert" >' + elem.TelegramAcc + '</span><input type="text" class="editMode form-control"/></td>' +
                    '<td class="col-md-2"><span class="viewMode" class = "name-cert" >' + elem.GithubAcc + '</span><input type="text" class="editMode form-control"/></td>' +
                    '<td class="col-md-2"><span class="viewMode" class = "name-cert" >' + elem.Team + '</span><input type="text" class="editMode form-control"/></td>' +
                    '<td class="actions" style="text-align:center">' +
                        '<a href="javascript:;" class="elemEdit"></a> ' +
                        '<a href="javascript:;" class="elemDelete"></a>' +
                        '<a href="javascript:;" style="display:none" class="elemSave"></a>' +
                        '<a href="javascript:;" style="display:none" class="elemCancel"></a>' +                        
                    '</tr>';

            }

            html +=
                '<tr elemId="*">' +
            '<td class="email"><input class="form-control" placeholder="Email" type="text"/></td>' +
                '<td class="fName"><input class="form-control" placeholder="First Name"  type="text"/></td>' +
                '<td class="lName"><input class="form-control" placeholder="Last Name" type="text" /></td>' +
                '<td class="tAcc"><input class="form-control" placeholder="Telegram account" type="text" /></td>' +
                '<td class="gAcc"><input class="form-control" placeholder="Github account" type="text" /></td>' +
                '<td class="team"><input class="form-control" placeholder="Team" type="text" /></td>' +
                '<td class="actions" style="text-align:center"><a href="javascript:;" class="elemSave"></a><a href="javascript:;" class="elemCancel"></a></td></tr>';

            html += '</table>';
            var parent = $('.editItems');
            parent.empty();
            parent.append($(html));

            $('.elemEdit').click(function() {
                var parent = $(this).parents('tr');
                parent.find('.editMode').val(parent.find('td.email span').text());
                parent.find('td.fName input').val(parent.find('td.fName span').text());
                parent.find('td.lName input').val(parent.find('td.lName span').text());
                parent.find('td.tAcc input').val(parent.find('td.tAcc span').text());
                parent.find('td.gAcc input').val(parent.find('td.gAcc span').text());
                parent.find('td.team input').val(parent.find('td.team span').text());
                parent.find('.viewMode').hide();
                parent.find('.editMode').show();
                parent.find('.elemEdit').hide();
                parent.find('.elemDelete').hide();
                parent.find('.elemSave').show();
                parent.find('.elemCancel').show();
            });

            $('.elemDelete').click(function() {
                var elemId = $(this).parents('tr').attr('elemId');
                var url = '@Url.Action("RemoveUser")';
                if (confirm('The "' + elemId + '" user will be deleted.')) {
                    $.post(url, { 'userEmail': elemId }, function(data) { $.populateUsers(data.json) });
                }
            });

            $('.elemSave').click(function() {
                var elemId = $(this).parents('tr').attr('elemId');
                if (!$.validateUser(elemId)) {
                    return;
                }
                console.log(elemId);
                var url = '@Url.Action("SaveDeveloper", "Home")';
                $.post(url,
                    {
                        'dev': {
                            'RowKey': elemId,
                            'Email': $('tr[elemId="' + elemId + '"] td.email input').val(),
                            'FirstName': $('tr[elemId="' + elemId + '"] td.fName input').val(),
                            'LastName': $('tr[elemId="' + elemId + '"] td.lName input').val(),
                            'TelegramAcc': $('tr[elemid="' + elemId + '"] td.tAcc input').val(),
                            'GithubAcc': $('tr[elemId="' + elemId + '"] td.gAcc input').val(),
                            'Team': $('tr[elemId="' + elemId + '"] td.team input').val(),
                        }
                    },                    
                    function (data) {
                        $.generateTable(data.Json);
                    });
            });

            $(".elemCancel").click(function() {
                var parent = $(this).parents('tr');
                if (parent.attr('elemId') == '*') {
                    var inputs = parent.find('input[type=text]');
                    inputs.val('');
                    inputs.removeClass('error');
                    var checkBoxes = parent.find('input[type=checkbox]');
                    checkBoxes.removeAttr('checked');
                } else {
                    parent.find('.editMode').val(parent.find('td.email span').text());
                    parent.find('td.fName input').val(parent.find('td.fName span').text());
                    parent.find('td.lName input').val(parent.find('td.lName span').text());
                    parent.find('td.tAcc input').val(parent.find('td.tAcc span').text());
                    parent.find('td.gAcc input').val(parent.find('td.gAcc span').text());
                    parent.find('td.team input').val(parent.find('td.team span').text());
                    
                    parent.find('.viewMode').show();
                    parent.find('.editMode').hide();
                    parent.find('.elemEdit').show();
                    parent.find('.elemDelete').show();
                    parent.find('.elemSave').hide();
                    parent.find('.elemCancel').hide();
                }
            });


        }

        $.validateUser = function (userId) {
            var row = $('.editItems table tr[elemId="' + userId + '"]');
            if (row.length == 0) {
                return;
            }

            var valid = true;
            //if (row.find('td.email input').val()
            //    .trim() ==
            //    '' ||
            //    !$.validateEmail(row.find('td.email input').val())) {
            //    row.find('td.email input').addClass('error');
            //    valid = false;
            //} else {
            //    row.find('td.email input').removeClass('error');
            //}

            //if (row.find('td.fName input').val().trim() == '') {
            //    row.find('td.fName input').addClass('error');
            //    valid = false;
            //} else {
            //    row.find('td.fName input').removeClass('error');
            //}

            //if (row.find('td.lName input').val().trim() == '') {
            //    row.find('td.lName input').addClass('error');
            //    valid = false;
            //} else {
            //    row.find('td.lName input').removeClass('error');
            //}

            return valid;
        };

        $.validateEmail = function (email) {
            var re =
                /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        $.generateTable('@Html.Raw(JsonConvert.SerializeObject(Model.Developers).Replace("'", "\\'").Replace("\"", "\\\""))');
    });
    </script>
}
